<a href="https://colab.research.google.com/github/sujin-create/finedu/blob/main/%EA%B8%88%EC%9C%B5%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D/coinstock_crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1nIUZxASrbIa0Z2xzGVgX1dqjtnFCoKNT' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1nIUZxASrbIa0Z2xzGVgX1dqjtnFCoKNT" -O dart.csv && rm -rf /tmp/cookies.txt

--2022-07-28 21:33:11--  https://docs.google.com/uc?export=download&confirm=t&id=1nIUZxASrbIa0Z2xzGVgX1dqjtnFCoKNT
Resolving docs.google.com (docs.google.com)... 142.250.152.138, 142.250.152.101, 142.250.152.102, ...
Connecting to docs.google.com (docs.google.com)|142.250.152.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-04-7k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/b27auaso03vg9c6non4ca0couoam2tsr/1659043950000/17609157229046208934/*/1nIUZxASrbIa0Z2xzGVgX1dqjtnFCoKNT?e=download&uuid=3f7b0f9d-69de-458c-bff2-ad7c9429f771 [following]
Warning: wildcards not supported in HTTP.
--2022-07-28 21:33:11--  https://doc-04-7k-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/b27auaso03vg9c6non4ca0couoam2tsr/1659043950000/17609157229046208934/*/1nIUZxASrbIa0Z2xzGVgX1dqjtnFCoKNT?e=download&uuid=3f7b0f9d-69de-458c-bff2-ad7c9429f771
Resolving doc-04-7k-docs.googleusercontent.com (doc-04-7k-docs.googleusercontent.com)... 142.250.136.132, 2607:f8b0:4001:c34::84
Connecting to doc-04-7k-docs.googleusercontent.com (doc-04-7k-docs.googleusercontent.com)|142.250.136.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125061598 (119M) [text/csv]
Saving to: ‘dart.csv’

dart.csv            100%[===================>] 119.27M   131MB/s    in 0.9s

2022-07-28 21:33:12 (131 MB/s) - ‘dart.csv’ saved [125061598/125061598]

In [54]:
df_all = pd.read_csv('/content/dart.csv',  sep=',')

In [55]:
df_all

,code,market,name,business
0,000020,KOSPI,동화약품,II. 사업의 내용\n1. 사업의 개요\n가. 일반적인 사항\n기업회계기준서 제11...
1,000040,KOSPI,KR모터스,II. 사업의 내용\n1. 사업의 개요\n가. 업계의 현황\n수출주력시장인 유럽 불...
2,000050,KOSPI,경방,II. 사업의 내용\n1. 사업의 개요\n(1) 산업의 특성\n[섬유사업부문]\n면...
3,000060,KOSPI,메리츠화재,"II. 사업의 내용\n1. 사업의 개요\n가. 산업의 특성, 성장성, 경기변동의 특..."
4,000070,KOSPI,삼양홀딩스,"II. 사업의 내용\n1. 사업의 개요\n가. 업계의 현황\n지주회사(持株會社, H..."
...,...,...,...,...
2584,950160,KOSDAQ,코오롱티슈진,II. 사업의 내용\n당사는 1999년 6월 9일 세포 유전자 기술 Platform...
2585,950170,KOSDAQ,JTC,II. 사업의 내용\n1. 사업의 개요\n가. 업계의 현황\n(1) 산업의 특성\n...
2586,950180,KOSDAQ,SNK,"II. 사업의 내용\n1. 사업의 개요\n당사는 연결실체 기준으로 모바일, 콘솔, ..."
2587,950190,KOSDAQ,미투젠,NaN
2588,950200,KOSDAQ,소마젠(Reg.S),NaN

In [1]:
import pandas as pd
from datetime import datetime
from matplotlib import dates as mdates
import matplotlib.pyplot as plt

In [2]:
import requests

In [13]:
!pip install beautifulSoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [16]:
# bs4라는 패키지로부터 BeautifulSoup라는 모듈을 임포트
from bs4 import BeautifulSoup as bs

In [51]:
url = 'https://finance.naver.com/item/main.naver?code=102280'
headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
#크롤링 하는 것을 막는 웹사이트를 크롤링하기 위해서는 headers에 user-agent를 넣어서 가져올 수 있음
response = requests.get(url, headers=headers)
soup = bs(response.text, 'html.parser')
result = soup.select("h4 > em > a")[0].text
print(result)

섬유,의류,신발,호화품

In [61]:
df = pd.DataFrame()
site_url = 'https://finance.naver.com/sise/sise_market_sum.naver?'
for page in range(1, 38):
    page_url = '{}&page={}'.format(site_url, page)
    print(page_url)

    # 위에서 했던 일련의 과정들을 각 url에 대해서 (37(전체페이지)페이지에 대해서 반복)
    temp = pd.read_html(page_url,encoding='euc-kr')[1]
    # temp = temp[['종목명','현재가']]
    temp.dropna()
    temp = temp[temp['현재가']<1000] #1000원조건 
    # print(temp)
    # 현재 얻은 데이터프레임을 기존 데이터프레임에 누적.
    df = df.append(temp)

df=df.reset_index(drop=True)

https://finance.naver.com/sise/sise_market_sum.naver?&page=1
https://finance.naver.com/sise/sise_market_sum.naver?&page=2
https://finance.naver.com/sise/sise_market_sum.naver?&page=3
https://finance.naver.com/sise/sise_market_sum.naver?&page=4
https://finance.naver.com/sise/sise_market_sum.naver?&page=5
https://finance.naver.com/sise/sise_market_sum.naver?&page=6
https://finance.naver.com/sise/sise_market_sum.naver?&page=7
https://finance.naver.com/sise/sise_market_sum.naver?&page=8
https://finance.naver.com/sise/sise_market_sum.naver?&page=9
https://finance.naver.com/sise/sise_market_sum.naver?&page=10
https://finance.naver.com/sise/sise_market_sum.naver?&page=11
https://finance.naver.com/sise/sise_market_sum.naver?&page=12
https://finance.naver.com/sise/sise_market_sum.naver?&page=13
https://finance.naver.com/sise/sise_market_sum.naver?&page=14
https://finance.naver.com/sise/sise_market_sum.naver?&page=15
https://finance.naver.com/sise/sise_market_sum.naver?&page=16
https://finance.naver.com/sise/sise_market_sum.naver?&page=17
https://finance.naver.com/sise/sise_market_sum.naver?&page=18
https://finance.naver.com/sise/sise_market_sum.naver?&page=19
https://finance.naver.com/sise/sise_market_sum.naver?&page=20
https://finance.naver.com/sise/sise_market_sum.naver?&page=21
https://finance.naver.com/sise/sise_market_sum.naver?&page=22
https://finance.naver.com/sise/sise_market_sum.naver?&page=23
https://finance.naver.com/sise/sise_market_sum.naver?&page=24
https://finance.naver.com/sise/sise_market_sum.naver?&page=25
https://finance.naver.com/sise/sise_market_sum.naver?&page=26
https://finance.naver.com/sise/sise_market_sum.naver?&page=27
https://finance.naver.com/sise/sise_market_sum.naver?&page=28
https://finance.naver.com/sise/sise_market_sum.naver?&page=29
https://finance.naver.com/sise/sise_market_sum.naver?&page=30
https://finance.naver.com/sise/sise_market_sum.naver?&page=31
https://finance.naver.com/sise/sise_market_sum.naver?&page=32
https://finance.naver.com/sise/sise_market_sum.naver?&page=33
https://finance.naver.com/sise/sise_market_sum.naver?&page=34
https://finance.naver.com/sise/sise_market_sum.naver?&page=35
https://finance.naver.com/sise/sise_market_sum.naver?&page=36
https://finance.naver.com/sise/sise_market_sum.naver?&page=37

In [62]:
df.to_csv('coinstock.csv',index=False)

In [63]:
df = pd.read_csv('coinstock.csv')

In [64]:
df = df[['종목명','현재가','등락률','거래량']]

In [65]:
df.dropna()

                            종목명    현재가     등락률         거래량
0                          우리종금  914.0  +0.11%   1703566.0
1                          SK증권  753.0  +1.89%   2125710.0
2                       에이프로젠제약  649.0  +1.09%    976522.0
3        삼성 인버스 2X WTI원유 선물 ETN  120.0   0.00%   4581028.0
4                            DB  812.0  +0.74%     99924.0
5                           쌍방울  554.0  -0.36%   3918406.0
6                         세원이앤씨  880.0  +0.92%   1122492.0
7                           IHQ  751.0  -0.53%    366072.0
8                        SG세계물산  585.0   0.00%    281147.0
9                         대유플러스  943.0  -0.53%    404222.0
10                         보해양조  756.0  -0.40%    412040.0
11                       와이투솔루션  651.0  -0.15%    465846.0
12                        대유에이텍  855.0  -0.81%    253071.0
13                        콤텍시스템  801.0  +1.78%    434865.0
14                         서울식품  253.0  -0.78%   1207154.0
15                      오리엔트바이오  793.0  -0.75%    215307.0
16                           큐로  403.0  +0.25%    151477.0
17                         메타랩스  743.0  -0.40%    295373.0
18                           영흥  823.0   0.00%     80605.0
19                      초록뱀헬스케어  914.0  -1.40%    490166.0
20                          엔케이  921.0  +1.43%     58106.0
21                      제이준코스메틱  952.0  -0.10%    244161.0
22                           한창  925.0  +2.78%   7205057.0
23    신한 인버스 2X WTI원유 선물 ETN(H)  110.0   0.00%   2234960.0
24                        KR모터스  718.0  +0.98%    674402.0
25                          윌비스  993.0  +0.71%    187757.0
26                    케이비아이동국실업  683.0  +3.48%    179483.0
27                       티웨이홀딩스  536.0  -0.19%    157479.0
28                         인디에프  776.0  +0.39%     11258.0
29                         주연테크  905.0   0.00%    145486.0
30                         부산주공  787.0  +0.25%   1431110.0
31                       참엔지니어링  833.0  +0.48%    117187.0
32                       미래아이앤지  335.0  +0.30%   1158043.0
33                         동원금속  894.0  -0.11%     51543.0
34                           성안  724.0  +3.28%   1241866.0
35        신한 인버스 2X 천연가스 선물 ETN  175.0  +2.94%  12443586.0
36   TRUE 인버스 2X 천연가스 선물 ETN(H)  320.0  +3.23%  12016986.0
37                          코아스  966.0  +0.42%     65961.0
38                       베트남개발1  207.0  +0.49%     52561.0
39     신한 인버스 2X 천연가스 선물 ETN(H)  110.0  +4.76%   8701862.0
40                        비케이탑스  904.0   0.00%         0.0
41  QV 인버스 레버리지 WTI원유 선물 ETN(H)  100.0  -4.76%   1294677.0

In [88]:
codes=[0]*len(df)
count=0
for i in df['종목명'].values:
  code = df_all[df_all['name']==i].code.values
  if len(code):
    codes[count] = code[0]
  else:
    codes[count]='nan'
  count = count+1
codes

['010050',
 '001510',
 '003060',
 'nan',
 '012030',
 '102280',
 'nan',
 '003560',
 '004060',
 '000300',
 '000890',
 'nan',
 '002880',
 '031820',
 '004410',
 '002630',
 '015590',
 '090370',
 '012160',
 'nan',
 '085310',
 '025620',
 '005110',
 'nan',
 '000040',
 '008600',
 '001620',
 '004870',
 '014990',
 '044380',
 '005030',
 '009310',
 '007120',
 '018500',
 '011300',
 'nan',
 'nan',
 '071950',
 '096300',
 'nan',
 '030790',
 'nan']

In [90]:
df['code'] = codes

In [91]:
df

                            종목명    현재가     등락률         거래량    code
0                          우리종금  914.0  +0.11%   1703566.0  010050
1                          SK증권  753.0  +1.89%   2125710.0  001510
2                       에이프로젠제약  649.0  +1.09%    976522.0  003060
3        삼성 인버스 2X WTI원유 선물 ETN  120.0   0.00%   4581028.0     nan
4                            DB  812.0  +0.74%     99924.0  012030
5                           쌍방울  554.0  -0.36%   3918406.0  102280
6                         세원이앤씨  880.0  +0.92%   1122492.0     nan
7                           IHQ  751.0  -0.53%    366072.0  003560
8                        SG세계물산  585.0   0.00%    281147.0  004060
9                         대유플러스  943.0  -0.53%    404222.0  000300
10                         보해양조  756.0  -0.40%    412040.0  000890
11                       와이투솔루션  651.0  -0.15%    465846.0     nan
12                        대유에이텍  855.0  -0.81%    253071.0  002880
13                        콤텍시스템  801.0  +1.78%    434865.0  031820
14                         서울식품  253.0  -0.78%   1207154.0  004410
15                      오리엔트바이오  793.0  -0.75%    215307.0  002630
16                           큐로  403.0  +0.25%    151477.0  015590
17                         메타랩스  743.0  -0.40%    295373.0  090370
18                           영흥  823.0   0.00%     80605.0  012160
19                      초록뱀헬스케어  914.0  -1.40%    490166.0     nan
20                          엔케이  921.0  +1.43%     58106.0  085310
21                      제이준코스메틱  952.0  -0.10%    244161.0  025620
22                           한창  925.0  +2.78%   7205057.0  005110
23    신한 인버스 2X WTI원유 선물 ETN(H)  110.0   0.00%   2234960.0     nan
24                        KR모터스  718.0  +0.98%    674402.0  000040
25                          윌비스  993.0  +0.71%    187757.0  008600
26                    케이비아이동국실업  683.0  +3.48%    179483.0  001620
27                       티웨이홀딩스  536.0  -0.19%    157479.0  004870
28                         인디에프  776.0  +0.39%     11258.0  014990
29                         주연테크  905.0   0.00%    145486.0  044380
30                         부산주공  787.0  +0.25%   1431110.0  005030
31                       참엔지니어링  833.0  +0.48%    117187.0  009310
32                       미래아이앤지  335.0  +0.30%   1158043.0  007120
33                         동원금속  894.0  -0.11%     51543.0  018500
34                           성안  724.0  +3.28%   1241866.0  011300
35        신한 인버스 2X 천연가스 선물 ETN  175.0  +2.94%  12443586.0     nan
36   TRUE 인버스 2X 천연가스 선물 ETN(H)  320.0  +3.23%  12016986.0     nan
37                          코아스  966.0  +0.42%     65961.0  071950
38                       베트남개발1  207.0  +0.49%     52561.0  096300
39     신한 인버스 2X 천연가스 선물 ETN(H)  110.0  +4.76%   8701862.0     nan
40                        비케이탑스  904.0   0.00%         0.0  030790
41  QV 인버스 레버리지 WTI원유 선물 ETN(H)  100.0  -4.76%   1294677.0     nan

In [92]:
df = df[df['code']!='nan']

In [95]:
df = df.reset_index(drop=True)

In [96]:
df

          종목명    현재가     등락률        거래량    code
0        우리종금  914.0  +0.11%  1703566.0  010050
1        SK증권  753.0  +1.89%  2125710.0  001510
2     에이프로젠제약  649.0  +1.09%   976522.0  003060
3          DB  812.0  +0.74%    99924.0  012030
4         쌍방울  554.0  -0.36%  3918406.0  102280
5         IHQ  751.0  -0.53%   366072.0  003560
6      SG세계물산  585.0   0.00%   281147.0  004060
7       대유플러스  943.0  -0.53%   404222.0  000300
8        보해양조  756.0  -0.40%   412040.0  000890
9       대유에이텍  855.0  -0.81%   253071.0  002880
10      콤텍시스템  801.0  +1.78%   434865.0  031820
11       서울식품  253.0  -0.78%  1207154.0  004410
12    오리엔트바이오  793.0  -0.75%   215307.0  002630
13         큐로  403.0  +0.25%   151477.0  015590
14       메타랩스  743.0  -0.40%   295373.0  090370
15         영흥  823.0   0.00%    80605.0  012160
16        엔케이  921.0  +1.43%    58106.0  085310
17    제이준코스메틱  952.0  -0.10%   244161.0  025620
18         한창  925.0  +2.78%  7205057.0  005110
19      KR모터스  718.0  +0.98%   674402.0  000040
20        윌비스  993.0  +0.71%   187757.0  008600
21  케이비아이동국실업  683.0  +3.48%   179483.0  001620
22     티웨이홀딩스  536.0  -0.19%   157479.0  004870
23       인디에프  776.0  +0.39%    11258.0  014990
24       주연테크  905.0   0.00%   145486.0  044380
25       부산주공  787.0  +0.25%  1431110.0  005030
26     참엔지니어링  833.0  +0.48%   117187.0  009310
27     미래아이앤지  335.0  +0.30%  1158043.0  007120
28       동원금속  894.0  -0.11%    51543.0  018500
29         성안  724.0  +3.28%  1241866.0  011300
30        코아스  966.0  +0.42%    65961.0  071950
31     베트남개발1  207.0  +0.49%    52561.0  096300
32      비케이탑스  904.0   0.00%        0.0  030790

In [102]:
results=[]
for i in df['code'].values:
  url = 'https://finance.naver.com/item/main.naver?code={0}'.format(i)
  headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}
  #크롤링 하는 것을 막는 웹사이트를 크롤링하기 위해서는 headers에 user-agent를 넣어서 가져올 수 있음
  response = requests.get(url, headers=headers)
  soup = bs(response.text, 'html.parser')
  print(url)
  try: 
    result = soup.select("h4 > em > a")[0].text
    results.append(result)
  except: 
    print('error')
    results.append('해당사항없음')

https://finance.naver.com/item/main.naver?code=010050
https://finance.naver.com/item/main.naver?code=001510
https://finance.naver.com/item/main.naver?code=003060
https://finance.naver.com/item/main.naver?code=012030
https://finance.naver.com/item/main.naver?code=102280
https://finance.naver.com/item/main.naver?code=003560
https://finance.naver.com/item/main.naver?code=004060
https://finance.naver.com/item/main.naver?code=000300
https://finance.naver.com/item/main.naver?code=000890
https://finance.naver.com/item/main.naver?code=002880
https://finance.naver.com/item/main.naver?code=031820
https://finance.naver.com/item/main.naver?code=004410
https://finance.naver.com/item/main.naver?code=002630
https://finance.naver.com/item/main.naver?code=015590
https://finance.naver.com/item/main.naver?code=090370
https://finance.naver.com/item/main.naver?code=012160
https://finance.naver.com/item/main.naver?code=085310
https://finance.naver.com/item/main.naver?code=025620
https://finance.naver.com/item/main.naver?code=005110
https://finance.naver.com/item/main.naver?code=000040
https://finance.naver.com/item/main.naver?code=008600
https://finance.naver.com/item/main.naver?code=001620
https://finance.naver.com/item/main.naver?code=004870
https://finance.naver.com/item/main.naver?code=014990
https://finance.naver.com/item/main.naver?code=044380
https://finance.naver.com/item/main.naver?code=005030
https://finance.naver.com/item/main.naver?code=009310
https://finance.naver.com/item/main.naver?code=007120
https://finance.naver.com/item/main.naver?code=018500
https://finance.naver.com/item/main.naver?code=011300
https://finance.naver.com/item/main.naver?code=071950
https://finance.naver.com/item/main.naver?code=096300
error
https://finance.naver.com/item/main.naver?code=030790

In [105]:
print(results)
df['category'] = results

['기타금융', '증권', '제약', 'IT서비스', '섬유,의류,신발,호화품', '방송과엔터테인먼트', '섬유,의류,신발,호화품', '자동차부품', '음료', '자동차부품', 'IT서비스', '식품', '생물공학', '기계', '섬유,의류,신발,호화품', '철강', '기계', '화장품', '부동산', '자동차', '섬유,의류,신발,호화품', '자동차부품', '항공사', '섬유,의류,신발,호화품', '컴퓨터와주변기기', '자동차부품', '디스플레이장비및부품', 'IT서비스', '자동차부품', '섬유,의류,신발,호화품', '가구', '해당사항없음', '섬유,의류,신발,호화품']

In [106]:
df

          종목명    현재가     등락률        거래량    code      category
0        우리종금  914.0  +0.11%  1703566.0  010050          기타금융
1        SK증권  753.0  +1.89%  2125710.0  001510            증권
2     에이프로젠제약  649.0  +1.09%   976522.0  003060            제약
3          DB  812.0  +0.74%    99924.0  012030         IT서비스
4         쌍방울  554.0  -0.36%  3918406.0  102280  섬유,의류,신발,호화품
5         IHQ  751.0  -0.53%   366072.0  003560     방송과엔터테인먼트
6      SG세계물산  585.0   0.00%   281147.0  004060  섬유,의류,신발,호화품
7       대유플러스  943.0  -0.53%   404222.0  000300         자동차부품
8        보해양조  756.0  -0.40%   412040.0  000890            음료
9       대유에이텍  855.0  -0.81%   253071.0  002880         자동차부품
10      콤텍시스템  801.0  +1.78%   434865.0  031820         IT서비스
11       서울식품  253.0  -0.78%  1207154.0  004410            식품
12    오리엔트바이오  793.0  -0.75%   215307.0  002630          생물공학
13         큐로  403.0  +0.25%   151477.0  015590            기계
14       메타랩스  743.0  -0.40%   295373.0  090370  섬유,의류,신발,호화품
15         영흥  823.0   0.00%    80605.0  012160            철강
16        엔케이  921.0  +1.43%    58106.0  085310            기계
17    제이준코스메틱  952.0  -0.10%   244161.0  025620           화장품
18         한창  925.0  +2.78%  7205057.0  005110           부동산
19      KR모터스  718.0  +0.98%   674402.0  000040           자동차
20        윌비스  993.0  +0.71%   187757.0  008600  섬유,의류,신발,호화품
21  케이비아이동국실업  683.0  +3.48%   179483.0  001620         자동차부품
22     티웨이홀딩스  536.0  -0.19%   157479.0  004870           항공사
23       인디에프  776.0  +0.39%    11258.0  014990  섬유,의류,신발,호화품
24       주연테크  905.0   0.00%   145486.0  044380      컴퓨터와주변기기
25       부산주공  787.0  +0.25%  1431110.0  005030         자동차부품
26     참엔지니어링  833.0  +0.48%   117187.0  009310    디스플레이장비및부품
27     미래아이앤지  335.0  +0.30%  1158043.0  007120         IT서비스
28       동원금속  894.0  -0.11%    51543.0  018500         자동차부품
29         성안  724.0  +3.28%  1241866.0  011300  섬유,의류,신발,호화품
30        코아스  966.0  +0.42%    65961.0  071950            가구
31     베트남개발1  207.0  +0.49%    52561.0  096300        해당사항없음
32      비케이탑스  904.0   0.00%        0.0  030790  섬유,의류,신발,호화품